<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title">Muokkaa profiilia</h1>
    <div class="account-wall">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, :class => "form-edit-registration"}) do |f| %>

          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :username, class: "control-label" %> *
            <%= f.email_field :username, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: "control-label" %> *
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :height, class: "control-label" %> *
            <%= f.number_field :height, class: "form-control", max: "300", min: "0" %>
          </div>

          <div class="form-group">
            <%= f.label :weight, class: "control-label" %> *
            <%= f.number_field :weight, class: "form-control", max: "500", min: "0", :step => 0.1 %>
          </div>

          <div class="form-group">
            <%= f.label :fat_percentage, class: "control-label" %> *
            <%= f.number_field :fat_percentage, class: "form-control", max: "100", min: "0" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Odotetaan vahvistusta seuraavalle: <%= resource.unconfirmed_email %></div>
          <% end %>

          <% unless resource.is_social? %>
              <div class="form-group">
                <%= f.label :current_password, class: "control-label" %> *
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              </div>

              <div class="form-group">
                <b>Uusi </b><%= f.label :password, class: "control-label" %>
                <br><i>(jätä tyhjäksi, jos et halua vaihtaa salasanaasi)</i>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, class: "control-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.submit "Päivitä", class: "submit-button" %>
            <%= link_to "Peruuta", user_path(current_user), class: "cancel-button" %>
          </div>

      <% end %>
    </div>

    <h3>Poista tilini</h3>
    <h5>Haluatko lopettaa palvelun käytön?</h5>

    <%= button_to "Poista tilini", registration_path(resource_name), data: { confirm: "Oletko varma?" },
                  method: :delete, :class => 'danger-button' if current_user %>
  </div>
</div>