<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"> Tuotteet </h1>
    <div class="account-wall">
      <%= link_to 'Uusi tuote', new_product_path, class:"submit-button" %><br><br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-md-2">Nimi</th>
          <th class="col-md-2">Valmistaja</th>
          <th class="col-md-2">Ravintosisältö / 100g</th>
          <th class="col-md-2">Paino</th>
        </tr>
        </thead>

        <tbody>
        <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name, product_path(product) %></td>
              <td><%= product.producer %></td>
              <td>
                <%= product.calories %> kcal<br>
                <%= product.fat %>g rasvaa<br>
                <%= product.carbohydrate %>g HH:a<br>
                <%= product.protein %>g proteiinia<br>
                <%= product.sugar %>g sokeria<br>
              </td>
              <td><%= product.weight %>g</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>