<p>
  <strong>Nimi:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Valmistaja:</strong>
  <%= @product.producer %>
</p>

<p>
  <strong>Rasvaa / 100g:</strong>
  <%= @product.fat %>
</p>

<p>
  <strong>Hiilihydraatteja / 100g:</strong>
  <%= @product.carbohydrate %>
</p>

<p>
  <strong>Proteiinia / 100g:</strong>
  <%= @product.protein %>
</p>

<p>
  <strong>Sokeria / 100g:</strong>
  <%= @product.sugar %>
</p>

<p>
  <strong>Paino:</strong>
  <%= @product.weight %>
</p>

<%= link_to 'Muokkaa', edit_product_path(@product) %>
